.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.about-tittle{
  position: relative;

}

.about-tittle h1{
  padding: 0px 30px ;
  font-size: 60px;
  font-weight: 600;
}

.about-tittle img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.about-sections{
  display: flex;
  gap: 80px;
}

.about-sections img{
  width: 350px;
  height: 370px;
}

.about-right{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}

.about-skills{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  
}

.about-skill{
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill p{
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill hr{
  outline: none;
  border: none;
  width: 70%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-achivements{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achivement{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;

}

.about-achivement h1{
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(270deg , #DF8908 50.41%, #B415FF);
  background-clip: text;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent;
}

.about-achivement p {
  font-size: 18px;
  font-weight: 500;
}

.about-skill:hover{
  transform: scale(1.03);
  transition: 0.3s;
}

.about-achivement:hover{
  transform: scale(1.12);
  transition: 0.5s;
  cursor: pointer;
}

.education{
  display: flex;
  justify-content:left;
  gap: 100px;
}

.edu h3{
  margin-bottom: 5px;

}
.edu p{
  margin-bottom: 5px;

}

.head{
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(270deg , #DF8908 80%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media(max-width:768px){
  .about{
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }

  .about-tittle h1{
    font-size: 50px;
    padding: 0;
  }

  .about-tittle img{
    width: 130px;
    right: -20px;
  }

  .about-sections{
    flex-direction: column;
  }
  .about-left{
    display: none;
  }

  .about-para{
    font-size: 18px;
    line-height: 32px;
  }

  .about-skill{
    gap: 20px;
    align-items: center;
  }

  .about-skill p {
    font-size: 20px;
  }

  .about-skill hr{
    height: 6px;
  }

  .education{
    display: flex;
    justify-content:left;
    flex-direction: column;
    gap: 100px;
  }

  .about-achivements{
    justify-content: space-between;
  }

  .about-achivement{
    gap: 10px;
  }
  .about-achivement h1{
    font-size: 34px;
    font-weight: 700;
  }

  .about-achivement p{
    font-size: 16px;
    text-align: center;
  }
}